.container {
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
  position: relative;
  flex-direction: column;
  gap: 20px;
  background-color: #6e6b6b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(224, 36, 36, 0.1);
  max-width: 500px;
  width: 100%;
}
